{% extends 'base.html.twig' %}

{% block title %}Empresa{% endblock %}

{% block body %}
    <h1>Empresa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ empresa.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ empresa.nome }}</td>
            </tr>
            <tr>
                <th>Cnpj</th>
                <td>{{ empresa.cnpj }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ empresa.endereco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_empresa_crud_index') }}">back to list</a>

    <a href="{{ path('app_empresa_crud_edit', {'id': empresa.id}) }}">edit</a>

    {{ include('empresa_crud/_delete_form.html.twig') }}
{% endblock %}
